resend
fastapi
uvicorn
google-auth
cloud-sql-python-connector[pg8000]
sqlalchemy
requests
selenium
playwright
pydantic
python-dotenv
numpy
pyyaml
psycopg2-binary
streamlit
pandas
langchain
langchain-openai
langchain-community
langgraph
langgraph-checkpoint-postgres
beautifulsoup4
pypdf
ragatouille
webdriver-manager
openpyxl
pdfplumber
python-multipart
google-cloud-storage
aiofiles
google-cloud-aiplatform
psycopg[pool]